In [1]:
import warnings
warnings.filterwarnings('ignore')

In [2]:
import numpy as np
import pandas as pd
from pathlib import Path
from collections import Counter

In [3]:
from sklearn.metrics import balanced_accuracy_score
from sklearn.metrics import confusion_matrix
from imblearn.metrics import classification_report_imbalanced

# Read the CSV and Perform Basic Data Cleaning

In [4]:
# https://help.lendingclub.com/hc/en-us/articles/215488038-What-do-the-different-Note-statuses-mean-

columns = [
    "loan_amnt", "int_rate", "installment", "home_ownership",
    "annual_inc", "verification_status", "issue_d", "loan_status",
    "pymnt_plan", "dti", "delinq_2yrs", "inq_last_6mths",
    "open_acc", "pub_rec", "revol_bal", "total_acc",
    "initial_list_status", "out_prncp", "out_prncp_inv", "total_pymnt",
    "total_pymnt_inv", "total_rec_prncp", "total_rec_int", "total_rec_late_fee",
    "recoveries", "collection_recovery_fee", "last_pymnt_amnt", "next_pymnt_d",
    "collections_12_mths_ex_med", "policy_code", "application_type", "acc_now_delinq",
    "tot_coll_amt", "tot_cur_bal", "open_acc_6m", "open_act_il",
    "open_il_12m", "open_il_24m", "mths_since_rcnt_il", "total_bal_il",
    "il_util", "open_rv_12m", "open_rv_24m", "max_bal_bc",
    "all_util", "total_rev_hi_lim", "inq_fi", "total_cu_tl",
    "inq_last_12m", "acc_open_past_24mths", "avg_cur_bal", "bc_open_to_buy",
    "bc_util", "chargeoff_within_12_mths", "delinq_amnt", "mo_sin_old_il_acct",
    "mo_sin_old_rev_tl_op", "mo_sin_rcnt_rev_tl_op", "mo_sin_rcnt_tl", "mort_acc",
    "mths_since_recent_bc", "mths_since_recent_inq", "num_accts_ever_120_pd", "num_actv_bc_tl",
    "num_actv_rev_tl", "num_bc_sats", "num_bc_tl", "num_il_tl",
    "num_op_rev_tl", "num_rev_accts", "num_rev_tl_bal_gt_0",
    "num_sats", "num_tl_120dpd_2m", "num_tl_30dpd", "num_tl_90g_dpd_24m",
    "num_tl_op_past_12m", "pct_tl_nvr_dlq", "percent_bc_gt_75", "pub_rec_bankruptcies",
    "tax_liens", "tot_hi_cred_lim", "total_bal_ex_mort", "total_bc_limit",
    "total_il_high_credit_limit", "hardship_flag", "debt_settlement_flag"
]

target = ["loan_status"]

In [49]:
# Load the data
file_path = Path('C:/Users/Endalkachew Desta/downloads/Classification_HW/LoanStats_2019Q1.csv.zip')
df = pd.read_csv(file_path, skiprows=1)[:-2]
df = df.loc[:, columns].copy()

# Drop the null columns where all values are null
df = df.dropna(axis='columns', how='all')

# Drop the null rows
df = df.dropna()

# Remove the `Issued` loan status
issued_mask = df['loan_status'] != 'Issued'
df = df.loc[issued_mask]

# convert interest rate to numerical
df['int_rate'] = df['int_rate'].str.replace('%', '')
df['int_rate'] = df['int_rate'].astype('float') / 100


# Convert the target column values to low_risk and high_risk based on their values
x = {'Current': 'low_risk'}   
df = df.replace(x)

x = dict.fromkeys(['Late (31-120 days)', 'Late (16-30 days)', 'Default', 'In Grace Period'], 'high_risk')    
df = df.replace(x)

df.reset_index(inplace=True, drop=True)

df.head()

,loan_amnt,int_rate,installment,home_ownership,annual_inc,verification_status,issue_d,loan_status,pymnt_plan,dti,...,pct_tl_nvr_dlq,percent_bc_gt_75,pub_rec_bankruptcies,tax_liens,tot_hi_cred_lim,total_bal_ex_mort,total_bc_limit,total_il_high_credit_limit,hardship_flag,debt_settlement_flag
0,10500.0,0.1719,375.35,RENT,66000.0,Source Verified,Mar-2019,low_risk,n,27.24,...,85.7,100.0,0.0,0.0,65687.0,38199.0,2000.0,61987.0,N,N
1,25000.0,0.2000,929.09,MORTGAGE,105000.0,Verified,Mar-2019,low_risk,n,20.23,...,91.2,50.0,1.0,0.0,271427.0,60641.0,41200.0,49197.0,N,N
2,20000.0,0.2000,529.88,MORTGAGE,56000.0,Verified,Mar-2019,low_risk,n,24.26,...,66.7,50.0,0.0,0.0,60644.0,45684.0,7500.0,43144.0,N,N
3,10000.0,0.1640,353.55,RENT,92000.0,Verified,Mar-2019,low_risk,n,31.44,...,100.0,50.0,1.0,0.0,99506.0,68784.0,19700.0,76506.0,N,N
4,22000.0,0.1474,520.39,MORTGAGE,52000.0,Not Verified,Mar-2019,low_risk,n,18.76,...,100.0,0.0,0.0,0.0,219750.0,25919.0,27600.0,20000.0,N,N

In [63]:
#Converting dates to numerical 
for col in ['issue_d', 'next_pymnt_d']:
    df[col] = pd.DatetimeIndex(df[col]).astype(np.int64)*1e-9
# Converting categorical values to numerical
df = df.replace(['OWN','RENT','Source Verified', 'Verified','n','w', 'f','Individual','N'],0)

df = df.replace(['MORTGAGE','ANY','Not Verified','Joint App'],1)
df.head()

,loan_amnt,int_rate,installment,home_ownership,annual_inc,verification_status,issue_d,loan_status,pymnt_plan,dti,...,pct_tl_nvr_dlq,percent_bc_gt_75,pub_rec_bankruptcies,tax_liens,tot_hi_cred_lim,total_bal_ex_mort,total_bc_limit,total_il_high_credit_limit,hardship_flag,debt_settlement_flag
0,10500.0,0.1719,375.35,1,66000.0,1,1.551398,low_risk,1,27.24,...,85.7,100.0,0.0,0.0,65687.0,38199.0,2000.0,61987.0,1,1
1,25000.0,0.2000,929.09,0,105000.0,1,1.551398,low_risk,1,20.23,...,91.2,50.0,1.0,0.0,271427.0,60641.0,41200.0,49197.0,1,1
2,20000.0,0.2000,529.88,0,56000.0,1,1.551398,low_risk,1,24.26,...,66.7,50.0,0.0,0.0,60644.0,45684.0,7500.0,43144.0,1,1
3,10000.0,0.1640,353.55,1,92000.0,1,1.551398,low_risk,1,31.44,...,100.0,50.0,1.0,0.0,99506.0,68784.0,19700.0,76506.0,1,1
4,22000.0,0.1474,520.39,0,52000.0,0,1.551398,low_risk,1,18.76,...,100.0,0.0,0.0,0.0,219750.0,25919.0,27600.0,20000.0,1,1

# Split the Data into Training and Testing

In [64]:
# Create our features
x_cols = [i for i in df.columns if i != ("loan_status")]
X = df[x_cols]

# Create our target
y = df["loan_status"]

In [65]:
X.describe()

,loan_amnt,int_rate,installment,home_ownership,annual_inc,verification_status,issue_d,pymnt_plan,dti,delinq_2yrs,...,pct_tl_nvr_dlq,percent_bc_gt_75,pub_rec_bankruptcies,tax_liens,tot_hi_cred_lim,total_bal_ex_mort,total_bc_limit,total_il_high_credit_limit,hardship_flag,debt_settlement_flag
count,68817.000000,68817.000000,68817.000000,68817.000000,6.881700e+04,68817.000000,68817.000000,68817.0,68817.000000,68817.000000,...,68817.000000,68817.000000,68817.000000,68817.0,6.881700e+04,6.881700e+04,68817.000000,6.881700e+04,68817.0,68817.0
mean,16677.594562,0.127718,480.652863,0.464406,8.821371e+04,0.521993,1.548200,1.0,21.778153,0.217766,...,95.057627,30.626217,0.125972,0.0,2.100332e+05,6.133843e+04,29734.128558,5.572240e+04,1.0,1.0
std,10277.348590,0.048130,288.062432,0.498735,1.155800e+05,0.499520,0.001915,0.0,20.199244,0.718367,...,8.326426,33.631463,0.336732,0.0,1.928088e+05,5.738798e+04,26795.394232,5.095845e+04,0.0,0.0
min,1000.000000,0.060000,30.890000,0.000000,4.000000e+01,0.000000,1.546301,1.0,0.000000,0.000000,...,20.000000,0.000000,0.000000,0.0,3.600000e+03,2.350000e+02,100.000000,1.270000e+02,1.0,1.0
25%,9000.000000,0.088100,265.730000,0.000000,5.000000e+04,0.000000,1.546301,1.0,13.890000,0.000000,...,93.000000,0.000000,0.000000,0.0,6.697700e+04,2.650300e+04,11600.000000,2.288000e+04,1.0,1.0
50%,15000.000000,0.118000,404.560000,0.000000,7.300000e+04,1.000000,1.548979,1.0,19.760000,0.000000,...,100.000000,20.000000,0.000000,0.0,1.467100e+05,4.535700e+04,22100.000000,4.200000e+04,1.0,1.0
75%,24000.000000,0.155700,648.100000,1.000000,1.040000e+05,1.000000,1.548979,1.0,26.660000,0.000000,...,100.000000,50.000000,0.000000,0.0,3.036400e+05,7.657000e+04,39300.000000,7.249900e+04,1.0,1.0
max,40000.000000,0.308400,1676.230000,1.000000,8.797500e+06,1.000000,1.551398,1.0,999.000000,18.000000,...,100.000000,100.000000,4.000000,0.0,3.292782e+06,1.295455e+06,509400.000000,1.426964e+06,1.0,1.0

In [66]:
# Check the balance of our target values
y = pd.DataFrame(y, columns=['loan_status'])
y['loan_status'].value_counts()

low_risk     68470
high_risk      347
Name: loan_status, dtype: int64

In [67]:
# Split the X and y into X_train, X_test, y_train, y_test
from sklearn.model_selection import train_test_split

X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=1)

## Data Pre-Processing

Scale the training and testing data using the `StandardScaler` from `sklearn`. Remember that when scaling the data, you only scale the features data (`X_train` and `X_testing`).

In [68]:
# Create the StandardScaler instance
from sklearn.preprocessing import StandardScaler
scaler = StandardScaler()

In [69]:
# Fit the Standard Scaler with the training data
# When fitting scaling functions, only train on the training dataset
X_scaler = scaler.fit(X_train)

In [70]:
# Scale the training and testing data
X_train_scaled = X_scaler.transform(X_train)
X_test_scaled = X_scaler.transform(X_test)

# Ensemble Learners

In this section, you will compare two ensemble algorithms to determine which algorithm results in the best performance. You will train a Balanced Random Forest Classifier and an Easy Ensemble classifier . For each algorithm, be sure to complete the folliowing steps:

1. Train the model using the training data. 
2. Calculate the balanced accuracy score from sklearn.metrics.
3. Print the confusion matrix from sklearn.metrics.
4. Generate a classication report using the `imbalanced_classification_report` from imbalanced-learn.
5. For the Balanced Random Forest Classifier onely, print the feature importance sorted in descending order (most important feature to least important) along with the feature score

Note: Use a random state of 1 for each algorithm to ensure consistency between tests

### Balanced Random Forest Classifier

In [71]:
# Resample the training data with the BalancedRandomForestClassifier
from imblearn.ensemble import BalancedRandomForestClassifier

rf_model = BalancedRandomForestClassifier(n_estimators=500, random_state=1)
rf_model = rf_model.fit(X_train_scaled, y_train)
predictions = rf_model.predict(X_test_scaled)

In [72]:
# Calculated the balanced accuracy score
balanced_accuracy_score(y_test, predictions)

0.7735872102177477

In [73]:
# Display the confusion matrix
confusion_matrix(y_test, predictions)

array([[   66,    35],
       [ 1818, 15286]], dtype=int64)

In [74]:
# Print the imbalanced classification report
print(classification_report_imbalanced(y_test, predictions))

                   pre       rec       spe        f1       geo       iba       sup

  high_risk       0.04      0.65      0.89      0.07      0.76      0.57       101
   low_risk       1.00      0.89      0.65      0.94      0.76      0.60     17104

avg / total       0.99      0.89      0.65      0.94      0.76      0.60     17205

In [75]:
# List the features sorted in descending order by feature importance
importances = rf_model.feature_importances_

importances_sorted = sorted(zip(rf_model.feature_importances_, df.columns), reverse=True)
importances_sorted

[(0.075575828131182, 'total_pymnt_inv'),
 (0.06224674815856406, 'collection_recovery_fee'),
 (0.05994157314888567, 'total_rec_prncp'),
 (0.05527529939862151, 'out_prncp_inv'),
 (0.0537274232730245, 'total_pymnt'),
 (0.030010964877189728, 'issue_d'),
 (0.02958774307887394, 'int_rate'),
 (0.019746872737607116, 'installment'),
 (0.019270642603185974, 'mths_since_recent_bc'),
 (0.018467291767330207, 'pymnt_plan'),
 (0.017702278960796857, 'out_prncp'),
 (0.016420479575709742, 'open_rv_24m'),
 (0.01627656158141381, 'mo_sin_old_il_acct'),
 (0.016115248756619193, 'initial_list_status'),
 (0.015209146499826909, 'annual_inc'),
 (0.0148516732231152, 'tot_coll_amt'),
 (0.014772763378203692, 'pub_rec'),
 (0.014647176958642366, 'avg_cur_bal'),
 (0.014624385264867345, 'total_bal_ex_mort'),
 (0.014271784324423251, 'all_util'),
 (0.014269989926908401, 'tax_liens'),
 (0.01425249284361121, 'bc_open_to_buy'),
 (0.01379726531394803, 'total_bal_il'),
 (0.013782779385972782, 'mths_since_rcnt_il'),
 (0.013776084507969497, 'acc_open_past_24mths'),
 (0.013635052524434761, 'delinq_amnt'),
 (0.013485478649545147, 'total_bc_limit'),
 (0.01333410507868639, 'mort_acc'),
 (0.013006017404813393, 'max_bal_bc'),
 (0.01273039488709701, 'tot_hi_cred_lim'),
 (0.01272366910999195, 'open_il_24m'),
 (0.01240457900183801, 'revol_bal'),
 (0.011957205369589783, 'num_op_rev_tl'),
 (0.011905047886643675, 'loan_amnt'),
 (0.01109145560048122, 'mo_sin_old_rev_tl_op'),
 (0.010874835712448152, 'total_cu_tl'),
 (0.009586586160489304, 'num_bc_tl'),
 (0.009550519098760729, 'num_il_tl'),
 (0.00943475278188099, 'num_tl_op_past_12m'),
 (0.009353201758414286, 'mo_sin_rcnt_rev_tl_op'),
 (0.009209026891613126, 'inq_last_6mths'),
 (0.009140600994476993, 'num_bc_sats'),
 (0.009074767987292351, 'inq_last_12m'),
 (0.00842698254423076, 'open_il_12m'),
 (0.008409127943168605, 'num_rev_tl_bal_gt_0'),
 (0.008291389056836577, 'num_actv_bc_tl'),
 (0.007639216841835739, 'total_rec_int'),
 (0.007636415825127902, 'num_accts_ever_120_pd'),
 (0.007552983941685108, 'num_tl_90g_dpd_24m'),
 (0.007299339491511776, 'total_rev_hi_lim'),
 (0.007236384552391525, 'num_rev_accts'),
 (0.0072136718992214565, 'open_rv_12m'),
 (0.007139843128456452, 'inq_fi'),
 (0.00698181808048475, 'tot_cur_bal'),
 (0.006541095989622624, 'open_acc_6m'),
 (0.006421535772724117, 'pct_tl_nvr_dlq'),
 (0.0061816056653792705, 'num_actv_rev_tl'),
 (0.005687125093597258, 'mo_sin_rcnt_tl'),
 (0.0049119895564307785, 'last_pymnt_amnt'),
 (0.00453467705254523, 'il_util'),
 (0.004488646407408326, 'delinq_2yrs'),
 (0.004215980138509035, 'open_act_il'),
 (0.004042943907286986, 'acc_now_delinq'),
 (0.0035097829147909283, 'mths_since_recent_inq'),
 (0.0032493720685731974, 'dti'),
 (0.0023670167071602544, 'verification_status'),
 (0.001889153225280254, 'open_acc'),
 (0.001871991844850853, 'policy_code'),
 (0.0018580904128052873, 'home_ownership'),
 (0.001638608136357856, 'percent_bc_gt_75'),
 (0.0009791174314003701, 'num_tl_30dpd'),
 (0.0005055862059857755, 'next_pymnt_d'),
 (0.0001461738386133719, 'bc_util'),
 (1.4539750737387704e-05, 'chargeoff_within_12_mths'),
 (0.0, 'total_rec_late_fee'),
 (0.0, 'total_il_high_credit_limit'),
 (0.0, 'total_acc'),
 (0.0, 'recoveries'),
 (0.0, 'pub_rec_bankruptcies'),
 (0.0, 'num_tl_120dpd_2m'),
 (0.0, 'num_sats'),
 (0.0, 'loan_status'),
 (0.0, 'hardship_flag'),
 (0.0, 'collections_12_mths_ex_med'),
 (0.0, 'application_type')]

### Easy Ensemble Classifier

In [76]:
# Train the EasyEnsembleClassifier
from imblearn.ensemble import EasyEnsembleClassifier

ee_model = EasyEnsembleClassifier(random_state=1)
ee_model = ee_model.fit(X_train_scaled, y_train)
predictions = ee_model.predict(X_test_scaled)

In [77]:
# Calculated the balanced accuracy score
balanced_accuracy_score(y_test, predictions)

0.9107585279107893

In [78]:
# Display the confusion matrix
confusion_matrix(y_test, predictions)

array([[   93,     8],
       [ 1698, 15406]], dtype=int64)

In [79]:
# Print the imbalanced classification report
print(classification_report_imbalanced(y_test, predictions))

                   pre       rec       spe        f1       geo       iba       sup

  high_risk       0.05      0.92      0.90      0.10      0.91      0.83       101
   low_risk       1.00      0.90      0.92      0.95      0.91      0.83     17104

avg / total       0.99      0.90      0.92      0.94      0.91      0.83     17205

In [119]:
eec_model = {'Report':['pre','rec','spe','f1','geo','iba','balanced accuracy'],'values':[.99,.90,.92,.94,.91,.83,.9107]}
BalancedRandomForest = {'Report':['pre','rec','spe','f1','geo','iba','balanced accuracy'],'values':[.99,.89,.65,.94,.76,.60,.7736]}

df_eec = pd.DataFrame(eec_model) 
df_brf = pd.DataFrame(BalancedRandomForest) 

import matplotlib.pyplot as plt
fig, ax = plt.subplots()
width=0.35
x = np.arange(len(df_eec['Report']))  # the label locations
rects1 = ax.bar(x - width/2, df_eec['values'], width, label='EEC Model')
rects2 = ax.bar(x + width/2, df_brf['values'], width, label='Balanced RainForest')
ax.legend()
ax.set_xticks(x)
ax.set_xticklabels(df_eec['Report'])

NameError: name 'rects' is not defined